.fa-pencil-square-o::after {
  content: 'Edit on Github';
  text-transform: initial;
  font-family: sans-serif;
  padding-left: 4px;
}

.contributor-avatar {
  width: 40px;
  height: 40px;
}

.contributor-avatar img {
  border-radius: 20px;
}

.contributor-data {
  display: none;
}

#GitHubContributors div {
  background-color: #fff !important;
}